<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nassim & Company</title>
    <link rel="stylesheet" href="..\css\style.css">
    <link rel="shortcut icon" type="image/x-icon" href="..\css\cabin.png" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Sansita">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oxygen">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Karla">
  </head>
  <body>
    <div class="header">
         <p>Comparator of property</p>
   </div>
    <div class="description">
         <p>Do you think you have found the house of your dreams? Check it now with Nassim & Company!</p>
    </div>
    <form action="/" method="post" class="input">
        <label id="icon"><img src="..\css\cabin.png"/></label>
        <input type="text" id="lien" name="lien" placeholder="https://www.leboncoin.fr/ventes_immobilieres/..">
        <input type="submit" id="submit" value="Comparer">
    </form>
    <div id="result">
        <p>
            <span id="result_text"><%= result_text %> </span><br>
            <span id="result_values"><%= result_values %></span>
        </p>
        <label id="result_icon">
            <%if ( yes_no == "good") { %>
                <img src="..\css\happy.png"/>
            <% } %>
            <%if ( yes_no == "no good") { %>
                <img src="..\css\student.png"/>
            <% } %>
            <%if ( yes_no == "error") { %>
                <img src="..\css\warning.png"/>
            <% } %>
        </label>
    </div>
  </body>
</html>
